In [2]:
import numpy as np
from datascience import *

#SET UP TABLE 
stationArr = []
for i in range(1, 15):
    stationArr.append("Station " + str(i))
arr = list(range(1, 15))
heartRate = np.zeros(shape=(14, 1))
ps = np.zeros(shape=(14, 1))
pd = np.zeros(shape=(14, 1))
t = Table().with_columns(['Station', arr, 'Heart Rate', heartRate, 'Ps', ps, 'Pd', pd])
t

Station | Heart Rate | Ps   | Pd
1       | [0.]       | [0.] | [0.]
2       | [0.]       | [0.] | [0.]
3       | [0.]       | [0.] | [0.]
4       | [0.]       | [0.] | [0.]
5       | [0.]       | [0.] | [0.]
6       | [0.]       | [0.] | [0.]
7       | [0.]       | [0.] | [0.]
8       | [0.]       | [0.] | [0.]
9       | [0.]       | [0.] | [0.]
10      | [0.]       | [0.] | [0.]
... (4 rows omitted)

In [3]:
# EXAMPLE 1- sample table from BIO 1A Physiology Lab

# Resting Table Data

# Set-Up
print('RESTING TABLE:')
rt = Table().with_columns(['Station', [], 'Heart Rate', [], 'Ps', [], 'Pd', [], 'Ventilation Rate', [], 'O2 % expired', [], 'O2 consumed', [], 'CO2 % expired', [], 'CO2 produced', []])

# function to add a row with Station #, Heart Rate, Ps, Pd to the table
def addRow(station, hr, ps, pd, ventRate, O2Exp, O2Cons, CO2Exp, CO2Prod):
    rt.append([station, hr, ps, pd, ventRate, O2Exp, O2Cons, CO2Exp, CO2Prod])
    
# add data to table
addRow(1, 1, 8, 4, 0, 0, 0, 0, 0)
addRow(2, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(3, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(4, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(5, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(6, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(7, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(8, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(9, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(10, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(11, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(12, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(13, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(14, 0.0, 0, 0, 0, 0, 0, 0, 0)

# display table
rt

RESTING TABLE:

Station | Heart Rate | Ps   | Pd   | Ventilation Rate | O2 % expired | O2 consumed | CO2 % expired | CO2 produced
1       | 1          | 8    | 4    | 0                | 0            | 0           | 0             | 0
2       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
3       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
4       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
5       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
6       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
7       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
8       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
9       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
10      | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
... (4 rows omitted)

In [4]:
# DO CALCULATIONS (Resting)- provided code to do necessary calculations with columns of information

# calculate and add CO column
coArr = rt.column('Heart Rate') * 1.7 * (rt.column('Ps') - rt.column('Pd'))
rt = rt.with_column('CO', coArr)

# calculate and add MAP column
mapArr = (rt.column('Ps') - rt.column('Pd')) * 1/3 + rt.column('Pd')
rt = rt.with_column('MAP', mapArr)

# calculate and add TPR column
tprArr = np.divide(rt.column('MAP'), rt.column('CO'))
rt = rt.with_column('TPR', tprArr)

# calculate and add SV column
svArr = 1.17 * (rt.column('Ps') - rt.column('Pd'))
rt = rt.with_column('SV', svArr)

# display table with new added columns from calculations
print('RESTING TABLE:')
rt

RESTING TABLE:

/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in true_divide
  if sys.path[0] == '':

Station | Heart Rate | Ps   | Pd   | Ventilation Rate | O2 % expired | O2 consumed | CO2 % expired | CO2 produced | CO   | MAP     | TPR      | SV
1       | 1          | 8    | 4    | 0                | 0            | 0           | 0             | 0            | 6.8  | 5.33333 | 0.784314 | 4.68
2       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
3       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
4       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
5       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
6       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
7       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
8       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
9       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
10      | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
... (4 rows omitted)

In [5]:
# After Exercise Table Data

# set-up table
print('AFTER EXERCISE TABLE:')
t = Table().with_columns(['Station', [], 'Heart Rate', [], 'Ps', [], 'Pd', [], 'Ventilation Rate', [], 'O2 % expired', [], 'O2 consumed', [], 'CO2 % expired', [], 'CO2 produced', []])

# function to add a row to the table with:
# Station #, Heart Rate, Ps, Pd, Ventilation Rate, O2 % in Expired Air, O2 Consumed, CO2 % in Expired Air, CO2 Produced
def addRow(station, hr, ps, pd, ventRate, O2Exp, O2Cons, CO2Exp, CO2Prod):
    t.append([station, hr, ps, pd, ventRate, O2Exp, O2Cons, CO2Exp, CO2Prod])
    
# student fills in table with data using above function
addRow(1, 1, 8, 4, 0, 0, 0, 0, 0)
addRow(2, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(3, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(4, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(5, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(6, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(7, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(8, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(9, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(10, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(11, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(12, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(13, 0.0, 0, 0, 0, 0, 0, 0, 0)
addRow(14, 0.0, 0, 0, 0, 0, 0, 0, 0)

# display table
t

AFTER EXERCISE TABLE:

Station | Heart Rate | Ps   | Pd   | Ventilation Rate | O2 % expired | O2 consumed | CO2 % expired | CO2 produced
1       | 1          | 8    | 4    | 0                | 0            | 0           | 0             | 0
2       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
3       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
4       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
5       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
6       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
7       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
8       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
9       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
10      | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0
... (4 rows omitted)

In [6]:
# DO CALCULATIONS (After Exercise)- provided code to do necessary calculations with columns of information

# calculate and add CO column
coArr = rt.column('Heart Rate') * 1.7 * (rt.column('Ps') - rt.column('Pd'))
rt = rt.with_column('CO', coArr)

# calculate and add MAP column
mapArr = (rt.column('Ps') - rt.column('Pd')) * 1/3 + rt.column('Pd')
rt = rt.with_column('MAP', mapArr)

# calculate and add TPR column
tprArr = np.divide(rt.column('MAP'), rt.column('CO'))
rt = rt.with_column('TPR', tprArr)

# calculate and add SV column
svArr = 1.17 * (rt.column('Ps') - rt.column('Pd'))
rt = rt.with_column('SV', svArr)

# display table with new added columns from calculations
rt

/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in true_divide
  if sys.path[0] == '':

Station | Heart Rate | Ps   | Pd   | Ventilation Rate | O2 % expired | O2 consumed | CO2 % expired | CO2 produced | CO   | MAP     | TPR      | SV
1       | 1          | 8    | 4    | 0                | 0            | 0           | 0             | 0            | 6.8  | 5.33333 | 0.784314 | 4.68
2       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
3       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
4       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
5       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
6       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
7       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
8       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
9       | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
10      | 0          | 0    | 0    | 0                | 0            | 0           | 0             | 0            | 0    | 0       | nan      | 0
... (4 rows omitted)

In [14]:
# EXAMPLE 2- sample table from CHEM 3A Lab

t = Table().with_columns(['Solvent', [], 'Solute', [], 'Predict', [], 'Observations', []])

# function to add a row with Station #, Heart Rate, Ps, Pd to the table
def addData(solvent, solute, predict, obsv):
    t.append([solvent, solute, predict, obsv])

# student uses function addData to add information to the table
addData("benzoic acid", "disobutylmine (9 drops)", "not miscible", "no change")
addData("benzoic acid", "disobutylmine (9 drops)", "miscible", "benzoic acid starting to dissolve")
addData("benzoic acid", "discobutylmine (9 drops)", "miscible", "mostly dissolved, clear, liquidy")

t

Solvent      | Solute                   | Predict      | Observations
benzoic acid | disobutylmine (9 drops)  | not miscible | no change
benzoic acid | disobutylmine (9 drops)  | miscible     | benzoic acid starting to dissolve
benzoic acid | discobutylmine (9 drops) | miscible     | mostly dissolved, clear, liquidy